/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

main {
    background-color: #7FFFD4;
    
}

.main {
    padding-bottom: 75px;
}

.content {
    padding: 2em;
}

#designs, #designs p, #designs img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.design-links figure {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 25px;  
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: midnightblue;
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;

@media (min-width: 320px) {

}

@media (min-width: 800px) {

}
