/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

header {
  height: 100px;
  background-image: linear-gradient(yellow, red);
  padding-top: 1px;
}
