/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/
.main {
        height: 50px;
        width: auto;
    }
.planet_image {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 350px) {

}
@media screen and (min-width: 800px) {
    .planet_image {
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
}
    
}
