/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/
.main-area img {
    width: 75px;
    height: auto;
    padding: 10%
}


@media screen and (min-width: 350px) {
    .main-area img {
        width: 200px;
        height: auto;
    }
}

@media screen and (min-width: 800px) {
    .main-area img {
        width: 200px;
        height: auto;
    }
}
