/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/
.site-branding {
    background-image: url(../images/genricBooks/bookteaOpacity40.jpg);
    height: 500px;
}

.memberPhotos img {
    height: 250px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lindley {
        height: 200px;
        width: auto;
        display: block;
        margin-left: 3%;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 120px;
    }
    
.michelle {
        height: 200px;
        width: auto;
        display: block;
        margin-left: 45%;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 10px 100px 10px 100px;
    }
    
.sarah {
        height: 200px;
        width: auto;
        display: block;
        margin-left: 15%;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 75px 75px 0px 0px;
    }
    
.molly {
        height: 200px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: 2%;
        padding: 20px 0;
        border-radius: 75px 10px 10px 75px;
    }
    
.denise {
        height: 200px;
        width: auto;
        display: block;
        margin-left: 10%;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 25px;
    }

.homeCurrentlyReading img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px;

}

.books_previouslyRead img {
    height: 250px;
    width: auto;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 25px;
}


@media (min-width: 370px) {
    .lindley, 
    .michelle, 
    .sarah, 
    .molly, 
    .denise  {
        height: 75px;
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 50px;
    }
    
    .books_previouslyRead  {
        display: grid;
        grid-gap: 0px;
        padding: 0 ;
        justify-items: center;
    }
    .book1 {
        grid-column-start: 1;
        grid-column-end: 1;
    } 
    .book2 {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .book3 {
        grid-column-start: 3;
        grid-column-end: 3;
    }
    
}

@media (min-width: 780px) {
    .lindley
    .michelle
    .sarah
    .molly
    .denise  {
        height: 50px;
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
        border-radius: 50px;
    }
    .main-area img  {
        display: grid;
        grid-gap: 1px 1px;
        max-width: 700px;
        padding: 0 ;
        justify-items: center;
    }
    
    .book1 {
        grid-column-start: 1;
        grid-column-end: 1;
    } 
    .book2 {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .book3 {
        grid-column-start: 3;
        grid-column-end: 3;
    }
    .book4 {
        grid-column-start: 4;
        grid-column-end: 4;
    }
}