/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
h1 a {
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: darkblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
}

.main-area p {
    font-size: 18px;
    text-align: justify;
    padding: 25px;
}

@media (min-width: 370px) {
    h1 a {
        font-size: 80px;
        text-align: center;
        text-decoration: none;
        color: darkblue;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-area p {
        font-size: 20px;
        max-width: 600px;
        padding: 20px 20%;
    }

@media (min-width: 780px) {
h1 a {
    font-size: 110px;
    text-align: center;
    text-decoration: none;
    color: darkblue;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        .main-area p {
            font-size: 22px;
            max-width: 500px;
            padding: 20px 30%;
    }
}