/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    background: #ffedcc;
}

.content {
    padding: 2em;
}

footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: midnightblue;
  color: white;
  text-align: center;
    font-size: 15px;
}

@media (min-width: 320px) {

}

@media (min-width: 800px) {

}
