/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/


.site-title {
    font-size: 40px;
    text-decoration: none;
    color: darkblue;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.main-area p {
    font-family: 'Dawning of a New Day', cursive;
    line-height: .8;
    color: black;
    font-size: 25px;
    text-align: justify;
    padding: 20px 10%;
    font-weight: bold;
}

.carousel-inner p {
    font-size: 20px;
    color: yellow;
    text-align: center;
}

@media (min-width: 400px) {
    h1 a {
        font-size: 80px;
        text-align: center;
        text-decoration: none;
        color: darkblue;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .carousel-inner p {
    font-size: 25px;
    color: yellow;
    }
}

@media (min-width: 800px) {
h1 a {
    font-size: 150px;
    text-align: center;
    text-decoration: none;
    color: darkblue;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.carousel-inner p {
    font-size: 35px;
    color: yellow;
}
    
    .main-area p {
        font-size: 50px;
        padding: 0 10%;
    }

}